* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
  height: 100vh;
}

.blur-beyonce {
  background-image: url(./assets/images/blurred_beyonce.jpg);
  background-position: center;
  background-size: cover;
}

.blur-duaLipa {
  background-image: url(./assets/images/blurred_dualipa.jpg);
  background-position: center;
  background-size: cover;
}

.player {
  width: 30vw;
  height: 35vw;
  margin: 10% auto 1%;
}

.cover {
  height: 65%;
}

.img-beyonce {
  background-image: url(./assets/images/lemonade.png);
  background-position: center;
  background-size: cover;
}

.img-duaLipa {
  background-image: url(./assets/images/dontstartnow.png);
  background-position: center;
  background-size: cover;
}

.controls,
.forward-backward {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.forward-backward {
  padding: 15px;
}

.top-controls {
  display: flex;
  justify-content: space-evenly;
  background-color: #3b87ea;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
  width: 50%;
  font-size: x-large;
  font-weight: bold;
}

.play-pause {
  align-self: center;
}

#play-pause,
#next,
#previous {
  cursor: pointer;
}

#play-pause {
  width: 50px;
  height: 50px;
}

#next,
#previous {
  width: 30px;
  height: 30px;
}

.forward-backward img {
  width: 100%;
}

.play-btn {
  background-image: url(./assets/icons/play.png);
  background-size: contain;
}

.pause-btn {
  background-image: url(./assets/icons/pause.png);
  background-size: contain;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  margin: 0 auto;
  padding: 20px 20px 0;
  background-color: #2e7cdf;
}

.footer-text {
  padding-bottom: 15px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: clamp(16px, 1.31vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-rs-logo {
  width: 134px;
  height: 50px;
  margin: 0 0 20px 0;
  background-image: url("./assets/icons/rs-school-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
